@use './token-root.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply m-0 box-border overflow-x-hidden;
  }

  #__next {
    isolation: isolate;
  }
}

.marquee-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
}

.marquee {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

.marquee-item {
  box-sizing: border-box;
  background-color: #fff;
  place-items: center;
}